html { background-color: #FFFFFF;
}

*{
    padding: 15px;
}

body {
    font-family: Helvetica, Arial, sans-serif; 
     font-weight: 400;
     font-size: 20px;
     /*Sets the font size to 25px */
     line-height: 1.6;
     /* Sets the line-height to 1.6 */
     text-decoration: none; 
}

h1   {
     font-size: 25px;
     font-family: 'Great Vibes', cursive;  
     font-weight: 700;
     text-decoration: underline;
}

.page-header {
   display: flex;
   width: 100%;
   padding: 5px;
  }

  .page-header {
    display: flex;
    width: 100%;
    padding: 5px;
   }

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 100px; 
    flex-grow: 1; 
    flex-shrink: 1; 
 }




