html {
    background-color: #ffffff;
}

* {
    padding: 15px;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 5px;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 5px;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
}
