html { background-color: #FFFFFF;
}

*{
    padding: 15px;
}

body {
    font-family: Helvetica, Arial, sans-serif; 
     font-weight: 400;
     font-size: 20px;
     /*Sets the font size to 25px */
     line-height: 1.6;
     /* Sets the line-height to 1.6 */
     text-decoration: none; 
}

h1   {
     font-size: 25px;
     font-family: 'Great Vibes', cursive;  
     font-weight: 700;
     text-decoration: underline;
}

.page-header {
   display: flex;
   width: 100%;
   padding: 5px;
  }

  .page-header {
    display: flex;
    width: 100%;
    padding: 5px;
   }


.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 100px; 
    flex-grow: 1; 
    flex-shrink: 1; 
 }

.button-class {
  background-color: #4caf50
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transitiion-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50
}


 }




